@import url(./_reset.css);
@import url(./_fonts.css);
 
.heading {
  background-color: #E5E5E5;
  padding: 17px 0;
 }
.nav-menu  {
  max-width: 23.3%;
  margin: 0 auto;
}
.nav-menu a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color:  #333333;
  text-decoration: none;
  margin-left: 0.8%;
}
.outter-block1 {
  border-bottom: 1px solid #EFEFEF;
  height: 85px;
  padding: 20px 0;
}
.inner-block1 {
  width: 66%;
  display: block;
  margin: 0 auto;
  height: 85px;
}
.inner-block1 div {
  display: inline-block;
}
.inner-block1-1 {
 float: left;
}
.inner-block1-2 {
  float: right;
  margin-top: 21px;
}
.button-styles {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.button1 {
  margin-left: 40px;
  background: #FFFFFF;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 13px 26px;
  width: 226px;
}
.number-styles {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.outter-block2 {
  padding: 30px 0;
}
.inner-block2 {
  width: 36%;
  margin: 0 auto;
}
.nav-menu2 a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  margin-left: 2.1%;
}
.outter-block3 {
  background-image: url(../images/picture1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-block3 {
 padding: 192px 0;
 width: 66%;
 margin: 0 auto;
}
.h2-3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.block3 {
  color: #FFFFFF;
  margin: 50px 0;
}
.button2 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 13px 26px;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  width: 170px;
  height: 16px;
  text-decoration: none;
  display: block;  
}
.h3-4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 38px;
}
.outter-block4 {
  background-color: #E5E5E5;
  width: 100%;
  padding-bottom: 81px;
}
.inner-block4 {
  width: 66%;
  margin: 0 auto;
  padding-top: 80px;
}
.inner-block4-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inner-block4-1 >div {
  background-color:  #FFFFFF;
  width: 232.5px;
  height: 363px;
}
.h4-4 {
  margin-bottom: 38px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.text-block4 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.inner-block4-1 div img {
  margin: 25px 55px 20px 55px;
}
.inner-block4-1 div figure {
  overflow: hidden;
}
.price {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.div-button  {
  display: block;
  margin: 20px 55px 25px 55px;
}
.div-button a {
  background-color: #F13C6E;
  border-radius: 30px;
  color:  #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
  padding: 9px 40px;
}
.inner-block4-2{
  padding: 100px 0;
  height: 212px;
}
.inner-block4-2-1 {
  float: left;
  background-color:  #F13C6E;
  width: 505px;
  height: 212px;
}
.h5-4 {
  margin: 35px 0 25px 40px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.div-text {
  float: left;
}
.text-block4-2 {
  margin-left: 40px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.b {
  margin-bottom: 28px;
}
.email input {
  margin: 25px 0 0 40px; 
  background: #FFFFFF;
  border-radius: 30px;
  padding: 9px 54px 9px 25px;
  border: none;
}
.div-mail {
  float: right; 
}
.div-mail img {
  padding: 52px 45px 52px 0;
}
.inner-block4-2-2 {
  float: right;
  background-color:  #F13C6E;
  width: 505px;
  height: 212px;
}
.div-car {
  float: right;
}
.div-car img {
  padding: 56px 45px 56px 0;
}
.div-text a {
  margin-left: 40px;
  text-decoration: none;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 29px;
}
.inner-block4-3 {
  width: 66%;
  margin: 0 auto;
}
.inner-block4-3 table {
  background-color: #FFFFFF;
}
.inner-block4-3 table td{
  border: 1px solid #EFEFEF;
  padding: 35px 59px 35px 50px;
}
.inner-block4-4 {
  width: 66%;
  margin: 0 auto;
  padding-top: 80px;
}
.inner-block5-1 {
  width: 66%;
  margin: 0 auto;
  padding-top: 60px;
  height: 328.78px;
}
.inner-block5-1 div a {
  display: block;
}
.h3-5 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 55px;
  border-bottom: 1px solid #EFEFEF;;
}
.menu a {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}
.inner-block5-1-1-1 {
  float: left;
  width: 200px;
  margin-right: 61px;
}
.inner-block5-1-1-2 {
  float: right;
  width: 200px;
  margin-right: 61px;
}
.inner-block5-1-2-1 {
  float: left;
  width: 200px;
  margin-right: 61px;
}
.inner-block5-1-2-2 {
  float: right;
  width: 200px;
  margin-right: 61px;
}
.inner-block5-0-2 {
  width: 100%;
  height: 50px;
  border-top: 1px solid #EFEFEF;
  padding: 37px 0 37px 0;
}
.inner-block5-2 {
  width: 66%;
  margin: 0 auto; 
}
.inner-block5-2 img {
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #F13C6E;
}
.inner-block5-2-1 {
  float: left;
  height: 30px;
}
.inner-block5-2-1 a {
  margin-right: 10px;
}
.inner-block5-2-2 {
  float: right;
}
.inner-block5-3 {
  background-color: #EFEFEF;
}
.inner-block5-3-1 {
  width: 66%;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}
.footer-text2 {
  float: right;
}
.footer-text1 {
  float: left;
}
.p-styles {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

