@import url(./_reset.css);
@import url(./_fonts.css);
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.heading {
  background-color: #E5E5E5;
  padding: 17px 0;
 }
.nav-menu  {
 display: flex;
 justify-content: center;
}
.nav-menu a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color:  #333333;
  text-decoration: none;
  margin-left: 30px;
}
.logo-outter {
  border-bottom: 1px solid #EFEFEF;
  padding: 20px 0;
}
.logo-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-styles {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.phone {
  margin-left: 40px;
  background: #FFFFFF;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 13px 26px;
}
.number-styles {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.site-menu {
  padding: 30px 0;
}
.site-menu-inner {
  display: flex;
  justify-content: center;
}
.site-nav-menu a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  margin-left: 40px;
}
.stock {
  background-image: url(../images/picture1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.stock-inner {
 padding: 192px 0;
}
.stock-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
  color: #FFFFFF;
}
.more  {
  text-decoration: none;
  color: #FFFFFF;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 12px 47px;
}
.special-offer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 38px;
}
.super-chair {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.barber-chair {
  background-color: #E5E5E5;
  padding: 80px 0;
}
.chair-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chair {
  background-color: #FFFFFF;
  padding-bottom: 25px;
}
.chair img {
  margin: 25px 65px 20px 65px;
}
.chair-text {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.price {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.div-button {
  display: flex;
  justify-content: center;
}
.buy {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #F13C6E;
  border-radius: 30px;
  padding: 9px 40px;
}
.bonus-shop_map {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.bonus-shop_map div {
 
  background-color: #F13C6E;
}
.bonus {
  display: flex;
  width: 48.6%;
}
.bonus-inner {
  display:flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  padding-left: 40px;
}
.bonus figure {
  margin: 52px 0px 52px 64px;
}
.shop_map {
  display: flex;
  width: 48.6%;
}
.shop_map-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  padding-left: 40px;
}
.shop_map figure {
  margin: 56px 0px 56px 100px;
}
.h {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.bonus-inner form input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #C4C4C4;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 9px 80px 9px 25px;
  border: none;
}
.shop_map-inner a {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 9px 28px;
}
.impuls-logo {
  margin-top: 99px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:  #FFFFFF;
  margin-bottom: 80px;
}
.impuls-logo .impuls {
  padding: 35px 60px;
  border: 1px solid #EFEFEF;
  flex: 1;
}
.footer-menu {
  margin-top: 60px;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 60px;
}
.footer-menu-inner {
  display: flex;
  column-gap: 30px;
 
}
.footer-menu-inner div {
  width: 24%;
}
.categories {
  display: flex;
  flex-direction: column;
}
.categories a {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}
.popular-categories {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: #000000;
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #EFEFEF;
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
  align-items: center;
}
.social-inner img {
  border: 2px solid #F13C6E;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-right: 16px;
}
.copyright {
  background-color: #EFEFEF;
  padding: 25px 0;
}
.copyright-inner {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}